// Navigation nav
// -----------------------------
#nav-documentation
  position: sticky
  left: 0
  top: $gap

  > ul
    > li
      > ul
        display: none
      &.is-active
        > ul
          display: block


// Main documentation
// -----------------------------

#main-documentation

  h2
    border-top: 1px dotted $grey-lighter
    padding-top: 25px
    color: $gold
    &:not(:first-child)
      margin-top: 15vh

  // img elements
  img
    border: 1px solid $grey-lighter
    padding: $gap/2
    margin-bottom: $gap/2
    border-radius: 4px

  // embeded
  iframe
    width: 100%
