// default style for WOW transition

.wow
  visibility: hidden
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

//
// Fade in
//

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fadeIn
  animation-name: fadeIn


//
// Fade out
//

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

.fadeOut
  animation-name: fadeOut

// Move up
// -----------------------------

@keyframes moveUp
  from
    transform: translate3d(0, 0, 0)
  to
    transform: translate3d(0, -100%, 0)

.moveUp
  animation-name: moveUp

//
// Slides in
//
@keyframes slideInUp
  from
    opacity: 0
    transform: translateY(45%)
  to
    opacity: 1
    transform: translateY(0)

.slideInUp
  animation-name: slideInUp

@keyframes slideInRight
  from
    opacity: 0
    transform: translateX(10%)
  to
    opacity: 1
    transform: translateX(0)

.slideInRight
  animation-name: slideInRight

@keyframes slideInLeft
  from
    opacity: 0
    transform: translateX(-10%)
  to
    opacity: 1
    transform: translateX(0)

.slideInLeft
  animation-name: slideInLeft

@keyframes slideOutUp
  from
    opacity: 1
    transform: translateY(0)
  to
    opacity: 0
    transform: translateY(-45%)

.slideOutUp
  animation-name: slideOutUp

@keyframes slideOutDown
  from
    opacity: 1
    transform: translate3d(0, 0, 0)
  to
    opacity: 0
    transform: translate3d(0, 65%, 0)

.slideOutDown
  animation-name: slideOutDown

///
// Reveal horizontal
///
@keyframes revealHorizontal
  from
    transform: scaleX(0)
  to
    transform: scaleX(1)


.revealHorizontal
  animation-name: revealHorizontal

///
// Reveal vertical
///
@keyframes revealVerticalIn
  from
    opacity: 0
    clip-path: inset(0 0 100% 0)
  to
    clip-path: inset(0 0 0 0)
    opacity: 1

.revealVerticalIn
  animation-name: revealVerticalIn


@keyframes revealVerticalOut
  from
    opacity: 1
    clip-path: inset(0 0 0 0)
  to
    clip-path: inset(0 0 100% 0)
    opacity: 0

.revealVerticalOut
  animation-name: revealVerticalOut

///
// Reveal circle
//

@keyframes revealCircleIn
  from
      clip-path: circle(0 at 50% 50%)
  to
      clip-path: circle(100% at 50% 50%)

.revealCircleIn
  animation-fill-mode: both
  animation-name: revealCircleIn


@keyframes revealCircleOut
  from
    clip-path: circle(100% at 50% 50%)
  to
    clip-path: circle(0 at 50% 50%)

.revealCircleOut
  animation-fill-mode: both
  animation-name: revealCircleOut



//
// Rotate
//

@keyframes rotate
  0%
    transform: rotate(0)
  70%
    transform: rotate(720deg)
  100%
    transform: rotate(720deg)

.rotate
  animation-name: rotate



//
// Blur in
//

@keyframes blurIn
  from
    opacity: 0
    filter: blur(30px)
  to
    opacity: 1
    filter: blur(2.5px)

.blurIn
    animation-name: blurIn
