

=box-maker($percent: 100%)
  display: block
  position: relative

  &:before
    content: ""
    display: block
    padding-top: $percent

  > .content, > .box--content
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 2

  &.is-with-gutter
    > .content, > .box--content
      left: $gap/4
      top: $gap/4
      width: calc(100% - #{$gap/2})
      height: calc(100% - #{$gap/2})

.box
  &--square
    +box-maker(100%)

  &--square
    +box-maker(100%)

  &--sixteen-nine
    +box-maker(54.25%)

  &--postal-card
    +box-maker(66.6666%)

  &--portrait
    +box-maker(140%)
