//
// Site header
//

header#site-header
  padding: $gap 0
  margin-bottom: $gap * 4
  border-bottom: 1px solid $grey-lighter

  #brand
    width: 150px
    height: 40px
    background: url(../svg/ouisurf-logo.svg) no-repeat center center
    background-size: contain
    text-indent: -10000px

  .title
    // font-weight: $weight-normal
